<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="SVSG_lib.WCF_Manager">
                <endpoint address="" binding="basicHttpBinding" contract="SVSG_lib.IWCF_Manager">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/SVSG_lib/WCF_Manager/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="SVSG_lib.PublicacionWCF">
                <endpoint address="" binding="basicHttpBinding" contract="SVSG_lib.IPublicacionWCF">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/SVSG_lib/PublicacionWCF/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="SVSG_lib.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="SVSG_lib.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/SVSG_lib/Service1/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="SVSG_lib.Listado">
                <endpoint address="" binding="basicHttpBinding" contract="SVSG_lib.IListado">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/SVSG_lib/Listado/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
<connectionStrings><add name="SVSGEntities" connectionString="metadata=res://*/SVSG_model.csdl|res://*/SVSG_model.ssdl|res://*/SVSG_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\Projects;initial catalog=SVSG;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
